{
  "openapi": "3.0.2",
  "info": {
    "title": "PatentsView PatentSearch API",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://search.patentsview.org"
    }
  ],
  "paths": {
    "/api/v1/g_brf_sum_text/": {
      "get": {
        "description": "",
        "operationId": "gBrfSumTextGet",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"summary_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100, \"pad_patent_id\": false }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"patent_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GBrfSumTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "403": {
            "description": "Incorrect/Missing API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthenticatedRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of incorrect/missing API Key",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent Text|Brf Sum Text"]
      },
      "post": {
        "description": "",
        "operationId": "gBrfSumTextPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GBrfSumTextPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GBrfSumTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent Text|Brf Sum Text"]
      }
    },
    "/api/v1/g_claim/": {
      "get": {
        "description": "",
        "operationId": "gClaimGet",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"claim_sequence\", \"claim_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100, \"pad_patent_id\": false }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"patent_id\": \"asc\" },{\"claim_sequence\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent Text|Claim"]
      },
      "post": {
        "description": "",
        "operationId": "gClaimPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GClaimPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent Text|Claim"]
      }
    },
    "/api/v1/g_detail_desc_text/": {
      "get": {
        "description": "",
        "operationId": "gDetailDescTextGet",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"description_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100, \"pad_patent_id\": false }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"patent_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDetailDescTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent Text|Detail Desc Text"]
      },
      "post": {
        "description": "",
        "operationId": "gDetailDescTextPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GDetailDescTextPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDetailDescTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent Text|Detail Desc Text"]
      }
    },
    "/api/v1/g_draw_desc_text/": {
      "get": {
        "description": "",
        "operationId": "gDrawDescTextGet",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"draw_desc_sequence\", \"draw_desc_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100, \"pad_patent_id\": false }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"patent_id\": \"asc\" },{\"draw_desc_sequence\": \"asc\"}]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDrawDescTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent Text|Draw Desc Text"]
      },
      "post": {
        "description": "",
        "operationId": "gDrawDescTextPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GDrawDescTextPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDrawDescTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent Text|Draw Desc Text"]
      }
    },
    "/api/v1/pg_brf_sum_text/": {
      "get": {
        "description": "",
        "operationId": "pgBrfSumTextGet",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"document_number\", \"summary_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"document_number\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgBrfSumTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Publication Text|Brf Sum Text"]
      },
      "post": {
        "description": "",
        "operationId": "pgBrfSumTextPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PgBrfSumTextPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgBrfSumTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Publication Text|Brf Sum Text"]
      }
    },
    "/api/v1/pg_claim/": {
      "get": {
        "description": "",
        "operationId": "pgClaimGet",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"document_number\", \"claim_sequence\", \"claim_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"document_number\": \"asc\" }, {\"claim_sequence\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Publication Text|Claim"]
      },
      "post": {
        "description": "",
        "operationId": "pgClaimPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PgClaimPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Publication Text|Claim"]
      }
    },
    "/api/v1/pg_detail_desc_text/": {
      "get": {
        "description": "",
        "operationId": "pgDetailDescTextGet",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"document_number\", \"description_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"document_number\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgDetailDescTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Publication Text|Detail Desc Text"]
      },
      "post": {
        "description": "",
        "operationId": "pgDetailDescTextPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PgDetailDescTextPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgDetailDescTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Publication Text|Detail Desc Text"]
      }
    },
    "/api/v1/pg_draw_desc_text/": {
      "get": {
        "description": "",
        "operationId": "pgDrawDescTextGet",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"document_number\", \"draw_desc_sequence\", \"draw_desc_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"document_number\": \"asc\" }, {\"draw_desc_sequence\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgDrawDescTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Publication Text|Draw Desc Text"]
      },
      "post": {
        "description": "",
        "operationId": "pgDrawDescTextPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PgDrawDescTextPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgDrawDescTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Publication Text|Draw Desc Text"]
      }
    },
    "/api/v1/assignee/": {
      "get": {
        "description": "",
        "operationId": "listAssignee",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"assignee_id\", \"assignee_individual_name_first\", \"assignee_individual_name_last\", \"assignee_organization\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"assignee_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Assignee"]
      },
      "post": {
        "description": "",
        "operationId": "listAssigneelist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssigneePostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Assignee"]
      }
    },
    "/api/v1/assignee/{assignee_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveAssigneeDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "assignee_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Assignee"]
      }
    },
    "/api/v1/patent/attorney/": {
      "get": {
        "description": "",
        "operationId": "listAttorney",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"attorney_id\", \"attorney_name_first\", \"attorney_name_last\", \"attorney_organization\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"attorney_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttorneySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Attorney"]
      },
      "post": {
        "description": "",
        "operationId": "listAttorneylist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttorneyPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttorneySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Attorney"]
      }
    },
    "/api/v1/patent/attorney/{attorney_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveAttorneyDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "attorney_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttorneySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Attorney"]
      }
    },
    "/api/v1/cpc_class/": {
      "get": {
        "description": "",
        "operationId": "listCpcClass",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"cpc_class_id\", \"cpc_class_title\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"cpc_class_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcClassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Class"]
      },
      "post": {
        "description": "",
        "operationId": "listCpcClasslist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CpcClassPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcClassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Class"]
      }
    },
    "/api/v1/cpc_class/{cpc_class}/": {
      "get": {
        "description": "",
        "operationId": "retrieveCpcClassDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "cpc_class",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcClassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Class"]
      }
    },
    "/api/v1/cpc_subclass/": {
      "get": {
        "description": "",
        "operationId": "listCpcSubclass",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"cpc_subclass_id\", \"cpc_subclass_title\", \"cpc_class_id\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"cpc_subclass_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcSubclassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Subclass"]
      },
      "post": {
        "description": "",
        "operationId": "listCpcSubclasslist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CpcSubclassPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcSubclassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Subclass"]
      }
    },
    "/api/v1/cpc_subclass/{cpc_subclass}/": {
      "get": {
        "description": "",
        "operationId": "retrieveCpcSubclassDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "cpc_subclass",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcSubclassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Subclass"]
      }
    },
    "/api/v1/cpc_group/": {
      "get": {
        "description": "",
        "operationId": "listCpcGroup",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"cpc_group_id\", \"cpc_group_title\", \"cpc_class_id\", \"cpc_subclass_id\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"cpc_group_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcGroupSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Group"]
      },
      "post": {
        "description": "",
        "operationId": "listCpcGrouplist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CpcGroupPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcGroupSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Group"]
      }
    },
    "/api/v1/cpc_group/{cpc_group}/": {
      "get": {
        "description": "",
        "operationId": "retrieveCpcGroupDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "cpc_group",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcGroupSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Classification Lookups|CPC Group"]
      }
    },
    "/api/v1/patent/foreign_citation/": {
      "get": {
        "description": "",
        "operationId": "listForeignCitation",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"citation_sequence\", \"citation_number\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100, \"pad_patent_id\": false }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"patent_id\": \"asc\" }, {\"citation_sequence\": \"asc\"}]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForeignCitationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent|Foreign Citations"]
      },
      "post": {
        "description": "",
        "operationId": "listForeignCitationlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForeignCitationPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForeignCitationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Patent|Foreign Citations"]
      }
    },
    "/api/v1/inventor/": {
      "get": {
        "description": "",
        "operationId": "listInventor",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"inventor_id\", \"inventor_name_first\", \"inventor_name_last\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"inventor_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventorSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Inventor"]
      },
      "post": {
        "description": "",
        "operationId": "listInventorlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventorPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventorSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Inventor"]
      }
    },
    "/api/v1/inventor/{inventor_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveInventorDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "inventor_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventorSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Disambiguated Entities|Inventor"]
      }
    },
    "/api/v1/ipc/": {
      "get": {
        "description": "",
        "operationId": "listIpcClassification",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"ipc_id\", \"ipc_section\", \"ipc_class\", \"ipc_subclass\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[{\"ipc_id\": \"asc\" }]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpcClassificationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
[...]
